@import "../../css/control-panel.scss";
@import "./theme.scss";

html, body {
    height: 100%;
}

body {
    margin: 0;
}

#filestorage {
    display: flex;
    flex-direction: row;
    height: calc(100% - 49px);
    background-color: var(--fs-bg-color);
    color: var(--fs-text-color);
}

#filestorage-info {
    color: var(--fs-info-text-color);
    background-color: var(--fs-info-bg-color);
    border-right: 1px solid var(--fs-border-color);
    width: 20%;
    overflow: hidden;
}

#toggle-private {
    cursor: pointer;
}

#filestorage-browse {
    width: 60%;
    overflow-y: auto;
}

#filestorage-actions {
    color: var(--fs-action-text-color);
    background-color: var(--fs-action-bg-color);
    border-left: 1px solid var(--fs-border-color);
    width: 20%;
    overflow: hidden;
}

#info-section-main {
    display: flex;
    flex-direction: column;
    height: 200px;
    border-bottom: 1px solid var(--fs-border-color);
}

.action:hover {
    background-color: var(--fs-action-hover-bg-color);
    color: var(--fs-action-hover-text-color);
}

.action:active {
    background-color: var(--fs-action-active-bg-color);
    color: var(--fs-action-active-text-color);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#folders-list, #files-list {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-evenly;
    row-gap: 5px;
    padding: 10px 5px;
}

#folders-list {
    border-bottom: 1px solid var(--fs-border-color);
}

#search-section {
    border-bottom: 1px solid var(--fs-border-color);
}

#search-field {
    margin: 1rem;
    width: calc(100% - 2.5rem);
}

.folder, .file {
    color: var(--fs-item-text-color);
    background-color: var(--fs-item-bg-color);
    display: inline-block;
    position: relative;
    border: 1px solid var(--fs-border-color);
    border-radius: 5px;
    padding: 5px;
    overflow-wrap: break-word;
}

#filestorage-browse .selected {
    background-color: var(--fs-selected-bg-color);
    color: var(--fs-selected-text-color);
}

#filestorage-browse .processing {
    background-color: var(--fs-processing-bg-color);
    color: var(--fs-processing-text-color);
} 

#filestorage-messages {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
}

.message {
    cursor: pointer;
    color: var(--fs-message-text-color);
    white-space: pre-line;
    width: 380px;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: var(--fs-message-bg-color);
    border: 1px solid var(--fs-message-border-color);
    border-radius: 10px;
}

.message:hover {
    background-color: var(--fs-message-hover-bg-color);
}

.error {
    background-color: var(--fs-error-bg-color);
    border: 1px solid var(--fs-error-border-color);
}

.error:hover {
    background-color: var(--fs-error-hover-bg-color);
}

#filestorage-uploads {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
}

.upload-message {
    color: var(--fs-upload-text-color);
    white-space: pre-line;
    width: 280px;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: var(--fs-upload-bg-color);
    border: 1px solid var(--fs-upload-border-color);
    border-radius: 10px;
}

.upload-message:hover {
    background-color: var(--fs-upload-hover-bg-color);
}

#upload-progress {
    position: relative;
    text-align: center;
    bottom: -20px;
}

.upload-progress {
    -webkit-appearance: none;
    appearance: none;
    color: var(--fs-progress-text-color);
    background-color: var(--fs-progress-bg-color);
    border-radius: 0px;
    width: 100%;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
}

#upload-speed-time {
    display: flex;
    justify-content: space-between;
}

.highlighted {
    background-color: var(--fs-highlighted-background-color);
    color: var(--fs-highlighted-text-color);
}