@import "../../css/control-panel.scss";

body {
    --main-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(0, 0%, 0%);
    --tetriary-color: hsl(0, 0%, 100%);
    --border-color: hsl(0, 0%, 0%);
}

body[data-theme=dark] {
    --main-color: hsl(0, 0%, 0%);
    --secondary-color: hsl(0, 0%, 100%);
    --tetriary-color: hsl(0, 0%, 15%);
    --border-color: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    color: var(--secondary-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#user-card {
    background-color: var(--tetriary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60vw;
    border: 1px solid var(--border-color);
    border-radius: 25px;
}

#user-card header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#tools {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px 10px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    position: relative;
    overflow-y: scroll;
}

#tools a {
    text-align: center;
    width: 120px;
    height: 50px;
    margin: 10px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    line-height: 15px;
    padding: 10px;
}

a, a:active, a:visited {
    text-decoration: none;
    color: var(--secondary-color);
}

#user-card footer {
    padding: 15px;
}

#lang-dropdown, #theme-dropdown {
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 10px;
}

#logout, #username {
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 10px;
}

#settings {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.block {
    display: block;
}

#settings a {
    cursor: pointer;
}

div#user {
    display: flex;
    gap: 20px;
}

.dropdown-content {
    left: 0;
    top: 100%;
}

@media screen and (max-width: 600px) {
    div#user {
        flex-direction: column;
        gap: 2px;
    }
}